.catalogo-page {
    padding: 20px; /* Espaciado alrededor de la página */
  }
  
  .catalogo-title {
    font-size: 2em; /* Tamaño de fuente grande para el título */
    margin-bottom: 20px; /* Espaciado debajo del título */
    text-align: center; /* Centrar el texto */
  }
  